node_modules
package-lock.json
build/release
library/vendor
templates/library/vendor
templates/library/composer.lock

# Version and manifest files
modules/*/*/*.xml
library/*.xml
package/*.xml
plugins/*/*/*.xml

# Language files (symlinked)
modules/*/*/language/*
plugins/*/*/language/*