node_modules
package-lock.json
build/release
build/templates/library/vendor
build/templates/library/composer-dev.json
build/templates/library/composer.lock
library/vendor

# Version and manifest files
modules/*/*/*.xml
library/*.xml
package/*.xml
plugins/*/*/*.xml

# Language files
modules/*/*/language/*
plugins/*/*/language/*